html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:focus {
    outline: transparent;
}


ul,
li {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


input,
textarea {
    font: inherit;
    padding: 0;
    border: none;
    appearance: none;
}

input::placeholder,
textarea::placeholder {
    font-family: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p ,
blockquote,
ul {
    margin: 0;
}

button {
    display: inline-block;
    appearance: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    background-color: inherit;
    border: 1px solid transparent;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    color: #333333;
    background-color: #ffffff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding: 140px 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
}

.title::before {
    content: '';
    position: absolute;
    height: 15px;
    right: 0;
    left: 0;
    bottom: 3px;
    background-color: rgba(35, 82, 222, 0.1);
}

.header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 82, 222, 0.5);
    z-index: 0;
}

.header__wrapper {
    position: relative;
}

.header__wrapper::before {
    content: '';
    position: absolute;
    z-index: 10;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
}

.logo img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: inherit;
    max-width: 158px;
    height: 53px;
    transition: all 1s;
}

.logo:focus {
    box-shadow: 0px 0px 0px 2px #2352DE;
    height: 53px;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 35px;
}

.menu__link {
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.5s;
    position: relative;
}

.menu__link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: auto;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.5s;
}

.menu__link:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.menu__link:focus,
.menu__arrow:focus,
.header__arrow:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.menu__link:active,
.logo:active {
    opacity: 0.7;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 128px);
    margin-top: auto;
    margin-bottom: auto;
}

.header__title {
    font-size: 48px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 600px;
    transform: translateY(13%);
}

.header__title span {
    font-size: 90px;
    font-weight: 700;
}

.header__arrow {
    position: relative;
    margin: 0 auto 40px;
    height: 52px;
    border-radius: 3px;
    transition: all 0.7s;
}

.header__arrow::after {
    content: '';
    position: absolute;
    background-image: url('../images/arrow.svg');
    width: 37px;
    height: 21px;
    top: 30px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.header__arrow:active {
    opacity: 0.7;
}

.header__link {
    font-weight: 600;
}


/* About section */
.about__text p {
    line-height: 1.6;
    text-align: left;
}

.about__text p:not(:last-child) {
    margin-bottom: 25px;
}

/* skills section*/
.skills {
    background-color: #F6F6F8;
}

.skills__inner {
    display: flex;
}

.skills__img {
    object-fit: cover;
    margin-right: 90px;
    max-width: 415px;
    width: 100%;
}

.rating {
    max-width: 664px;
    width: 100%;
    margin: auto;
}

.rating__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 43px 0;
}

.rating__name {
    font-weight: 600;
    text-transform: uppercase;
    width: 70px;
}

.rating__box {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 32px;
    background-color: #DBDBED;
}

.rating__line {
    height: 32px;
    background-color: #2352DE;
}

.rating__line--max {
    width: 85%;
}

.rating__line--average {
    width: 80%;
}

.rating__line--min {
    width: 61%;
    height: 30px;
}

/* section services*/

.services__list {
    display: flex;
    justify-content: space-between;
}

.services__item {
    max-width: 330px;
    position: relative;
    padding-top: 90px;
    text-align: left;
}

.services__item:not(:last-child) {
    margin-right: 90px;
}

.services__item::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
}

.services__item:first-child::before {

    background-image: url('../images/icon/icon-1.svg');
}

.services__item:nth-of-type(2)::before {
    background-image: url('../images/icon/icon-2.svg');
}

.services__item:nth-of-type(3)::before {
    background-image: url('../images/icon/icon-3.svg');
}

.services__subtitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
}

.services__text {
    font-size: 16px;
    line-height: 1.6;
}

/*  section work*/
.portfolio {
    padding-bottom: 140px;
    text-align: center;
}

.portfolio__items {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.portfolio__item {
    border-radius: 3px;
    transition: all 0.6s;
}

.portfolio__item:not(:last-child) {
    margin-right: 35px
}

.portfolio__button {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    border-radius: 3px;
    transition: all 0.5s;
    position: relative;
}

.portfolio__button:hover {
    color: rgba(35, 82, 222, 1);
}

.portfolio__button::before {
    content: '';
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    height: 2px;
    bottom: -1px;
    background-color: rgba(35, 82, 222, 1);
    transition: all 0.5s;
}

.portfolio__button:hover::before {
    width: 100%;
    right: auto;
    left: 0;

}

.portfolio__button:focus {
    box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.portfolio__button:active {
    color: #2352DE;
}

.portfolio__works {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.portfolio__work {
    width: 33%;
    max-width: 360px;
    margin-bottom: 40px;
}

.portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mixitup-control-active {
    color: #2352DE;
}

.btn {
    padding: 10px 24px;
    background-color: rgba(35, 82, 222, 1);
    color: #ffffff;
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.6s;
}

.btn:focus {
    box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.btn:hover {
    background-color: #ffffff;
    border-color: #2352DE;
    color: rgba(35, 82, 222, 1);
}

.btn:active {
    background-color: #2352DE;
    box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

/* start reviews*/
.reviews {
    background-color: #F6F6F8;
    text-align: center;
}

.reviews__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reviews__item {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 10px;
}

.reviews__photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.reviews__name {
    color: #2352DE;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    font-style: normal;
}

.reviews__subtitle {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
}



.reviews__link {
    max-width: 570px;
    width: 100%;
    height: 400px;
    max-height: 100%;
    background-size: cover;
    position: relative;
}

.reviews__link::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
}

.reviews__link:hover::after {
    background-color: rgba(0, 0, 0, 0.6);
}

.reviews__link:active::after {
    background-color: rgba(0, 0, 0, 0.45);
}

.reviews__link::before {
    content: '';
    position: absolute;
    background-image: url('../images/icon/icon-play.svg');
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.3s;
}

.reviews__link:hover::before {
    transform: scale(1.5);
}

.reviews__link:active::before {
    transform: scale(0.5);
}


.reviews__link:focus {
    box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.info__list {
    display: flex;
    justify-content: space-between;
}

.info__item {
    background-color: #F6F6F8;
    max-width: 280px;
    width: 100%;
    height: auto;
    padding: 145px 46px 30px;
    text-align: center;
    font-size: 44px;
    line-height: 1;
    font-weight: 600;
    position: relative;
}

.info__subtitle {
    font-size: 18px;
    display: block;
    height: 30px;
    margin-bottom: 10px;
    font-weight: 400;
}


.info__item::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 50%;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(70%);
}

.info__item:not(:last-child) {
    margin-right: 10px;
}

.info__item:first-child::before {
    background-image: url('../images/icon/vector.png');

}

.info__item:nth-child(2)::before {
    background-image: url('../images/icon/clients.svg');

}

.info__item:nth-child(3)::before {
    background-image: url('../images/icon/coffee.svg');
}


.info__item:nth-child(4)::before {
    background-image: url('../images/icon/review.svg');

}


/* start footer*/

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.footer__info {
    max-width: 530px;
    margin-right: 10px;
}

.footer__info p {
    font-size: 16px;
    line-height: 1.6;
    font-style: normal;
    margin-bottom: 30px;
}

.contacts__link {
    font-size: 16px;
    font-style: normal;
    color: #2352DE;
    border-radius: 3px;
    transition: ease 1s;
    text-decoration: none;
}

.contacts__item:first-child {
    margin-bottom: 15px;
}

.contacts__item:nth-child(2) {
    margin-bottom: 20px;
}

.contacts__link:focus {
    box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.contacts__link:hover {
    text-decoration: underline;
    width: 100%;
}

.social {
    display: flex;
}

.social__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    border-radius: 3px;
    transition: ease 1s;
}

.social__item:not(:last-child) {
    margin-right: 20px;
}

.social__link:focus {
    box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.social__link:hover {
    opacity: 0.7;
}

.form {
    max-width: 540px;
    width: 100%;
}

.form__label {
    max-width: 255px;
    width: 100%;
}

.form:first-child {
    margin-right: 20px;
}

.form__label:not(:last-child) {
    display: inline-block;
}

.form__text {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form__field {
    max-width: 255px;
    width: 100%;
    background-color: #F6F6F8;
    padding: 13px 15px;
    font-size: 14px;
    border: none;
    color: #000000;
    transition: all 0.5s;
}

.form__field--text {
    min-height: 115px;
    resize: vertical;
}

.form__label:not(:last-child) {
    margin-bottom: 30px;
}

.form__comment {
    display: block;
    margin-bottom: 30px;
}

.form__comment .form__field--text {
    max-width: 540px;
    width: 100%;
}

.form__label:first-child {
    margin-right: 20px;
}

.form__field:focus {
    box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.form__field::placeholder {
    color: #9C9CAB;
    font-size: 14px;
}

.form__field:hover::placeholder {
    color: #000000;
}

.footer__call:hover {
    text-decoration: underline;
    color: #2352DE;
}

.footer__call:active,
.footer__call:active {
    color: rgba(35, 82, 222, 0.7);
}

.form__btn {
    display: block;
}

.footer__box {
    background-color: #343740;
    padding: 50px 0;
    text-align: center;
}

.footer__logo {
    display: block;
    margin: 0px auto;
}

.header__burger {
    display: none;
}

@media (max-width: 1200px) {

    .skills__img {
        margin-right: 50px;
    }

    .services__list {
        flex-wrap: wrap;
    }

    .services__item:not(:last-child) {
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .info__item {
        padding: 140px 20px 30px;
        font-size: 40px;
    }

    .form__label,
    .form__field {
        max-width: 100%;
    }
}


@media (max-width: 992px) {

    .menu {
        padding-top: 0px;
        position: relative;
        z-index: 30;
    }

    .logo {
        position: relative;
        z-index: 35;
        top: 15px;
    }

    .logo img {
        max-width: 110px;
        height: 37px;
    }

    .header__burger {
        position: absolute;
        top: 20px;
        right: 0px;
        z-index: 50;
        width: 30px;
        height: 20px;
        display: block;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        left: 0;
        transition-duration: 1s;
    }

    .header__burger span {
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 8px;
        transition-duration: 1s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 7px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .menu__list {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #7792E0;
        z-index: 30;
        padding-top: 70px;
        transition: all 0.6s;
    }

    .menu__list.active {
        top: 0;
    }

    .menu__item {
        padding: 11px 0;
        text-align: center;
    }

    .menu__item:not(:last-child) {
        margin-right: 0;
    }

    .menu__item:active {
        background-color: rgba(35, 82, 222, 0.7);
    }

    .section {
        padding: 100px 0;
        text-align: center;
    }

    .skills__inner {
        flex-wrap: wrap;
        padding: 0 40px;
        margin: 0 auto;
    }

    .skills__img {
        margin: 0 auto 15px;
    }

    .reviews__inner {
        flex-wrap: wrap;
    }

    .reviews__item {
        margin-bottom: 20px;
    }

    .info__item::before {
        width: 60%;
        height: 50px;
    }

    .info__item {
        padding: 120px 10px 20px;
        font-size: 30px;
    }

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__info {
        margin-bottom: 40px;
    }
}


@media (max-width: 768px) {

    .header__title {
        font-size: 40px;
        transform: translateY(30%);
    }

    .header__title span {
        font-size: 60px;
    }

    .section {
        padding: 75px 0;
    }

    .title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .title::before {
        height: 10px;
    }

    .header__link {
        font-size: 14px;
    }

    .about__text p {
        font-size: 16px;
    }

    .services__item {
        max-width: 340px;
        padding-top: 50px;
    }

    .services__item::before {
        width: 40px;
        height: 40px;
    }

    .services__subtitle {
        font-size: 20px;
    }

    .services__subtitle {
        margin-bottom: 15px;
    }

    .header__inner {
        height: calc(100vh - 20px);
    }

    .portfolio {
        text-align: center;
        padding-top: 13px;
    }

    .portfolio__items {
        display: block;
        text-align: center;
        margin-bottom: 35px;
    }

    .portfolio__item:not(:last-child) {
        margin-right: 0;
    }

    .portfolio__item {
        margin-bottom: 10px;
    }

    .portfolio__button {
        font-size: 18px;
    }

    .portfolio__work {
        width: 47%;
        margin-bottom: 10px;
    }

    .reviews__photo {
        margin-bottom: 30px;
    }

    .info__list {
        flex-wrap: wrap;
    }

    .info__item {
        margin: 5px 0;
        width: 47%;
    }

    .info__item:not(:last-child) {
        margin-right: 0;
    }

    .info__subtitle {
        font-size: 14px;
    }

    .footer {
        text-align: center;
    }

    .footer__inner {
        text-align: left;
    }
}

@media (max-width: 576px) {

    .header__title {
        font-size: 28px;
    }

    .header__title span {
        font-size: 40px;
    }

    .section {
        padding: 50px 0;
    }

    .skills__inner {
        padding: 0 20px;
    }

    .rating__item {
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .about__text p:not(:last-child) {
        margin-bottom: 20px;
    }

    .portfolio {
        padding-bottom: 50px;
    }

    .portfolio__works {
        margin-bottom: 25px;
    }

    .reviews__inner {
        position: relative;
    }

    .reviews__link {
        position: absolute;
        top: 35%;
        right: 25%;
        width: 60px;
        max-height: 60px;
        border-radius: 50px;
    }

    .reviews__link:before {
        transform: scale(0.3);
    }

    .reviews__item {
        margin-bottom: 0;
    }

    .reviews__name {
        font-size: 20px;
    }

    .reviews__subtitle {
        font-size: 16px;
        padding: 0 20px;
    }

    .info__item::before {
        top: 20px;
        width: 35%;
        height: 35px;
        transform: translateX(115%);
    }

    .info__item {
        padding: 70px 15px 30px;
    }

    .form__label:not(:last-child) {
        display: initial;
    }

    .footer__inner {
        margin-bottom: 50px;
    }

    .footer__info {
        margin-bottom: 30px;
    }

    .form__text {
        margin-bottom: 3px;
    }

    .form__field {
        margin-bottom: 20px;
    }

    .form__comment {
        margin-bottom: 0px;
    }

    .footer__box {
        padding: 15px 0 30px;
    }
}